.pagination-container {
  display: flex;
  flex-direction: row;
}

.pagination-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.selected-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border: 4px solid #000;
}
th {
  text-align: left;
}
