.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pageText {
  font-size: 14px;
  padding: 20px;
  padding-right: 20px;
}
.rowSelect {
  margin-left: 20px;
}
